*{
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.5rem;
  padding-top: 50px;
  padding-bottom: 20px;
}

h2::after {
  content:' ';
  display:block;
  border:3px solid $gold-color;
  width: 60%;
  text-align: center;
}

a {
  text-decoration: none;
}

.button-show-more {
  padding: 15px 50px;
  border: 5px solid $dark-color;
  background-color: transparent;
  color: $dark-color;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
}

.button-show-more:hover{
  color: $gold-color;
  border: 5px solid $gold-color;
  transition: 0.5s;
}

.remove-link-style{
  text-decoration: none;
}

.white-color{
  color: $white-color;
}

.dark-font{
  color: $dark-color;
}

h3 {
  font-size: 1.1rem;
}

.product-price {
  font-family: 'Roboto Condensed', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media only screen and (max-width: 500px) {
  body {
    margin-bottom: 60px;

    h2{
      font-size: 2rem;
      padding: 20px;
    }

    h3 {
      font-size: 0.9rem;
    }
    
    h2:after {
      border: 2px solid $gold-color;
    }

    .button-show-more {
      padding: 10px 40px;
      border: 3px solid $dark-color;
    }
  }
}