.section-cover{
  color: $white-color;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  position: relative;

  .cover-photo{
    width: 100%;
    min-height: 500px;
  }

  .cover-texts{
    position: absolute;
    left: 5%;
    bottom: 25%;

    .subtext{
      font-family: 'Inter', sans-serif;
      font-size: 2rem;
    }

    h1 {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 4rem;
    }
  }

  .button-show-more {
    width: 204px;
    border: 5px solid $white-color;
    color: $white-color;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5%;
  }

  .button-show-more:hover{
    color: $gold-color;
    border: 5px solid $gold-color;
    transition: 0.5s;
  }
}


@media only screen and (max-width: 500px) {
  body {
    .section-cover{
      .cover-photo{
        width: 100%;
        min-height: 300px;
        object-fit: none;
        
      }
    
      .cover-texts{
        bottom: 27%;

        .subtext{
          font-size: 1.5rem;
        }
    
        h1 {
          font-size: 2.5rem;
        }
      }
    
      .button-show-more {
        bottom: 8%;
        width: 180px;
        border: 3px solid $white-color;
      }
    }
  }
}
