header {
  padding: 0px 50px;
  height: $header-heigth;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-side {
    display: flex;
    align-items: center;
    gap: 20px;

    .header-title {
      font-family: 'Catamaran', sans-serif;
      font-size: 2rem;
      font-weight: 300;
    }

    .header-title:hover{
      color:$gold-color;
      transition: 0.5s;
    }

    .header-left-divider {
      font-size: 3rem;
      color: $gold-color;
    }

    .header-nav {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 30px;

      a:hover{
        color:$gold-color;
        transition: 0.5s;
      }
    }
  }

  .right-side {
    display: flex;
    gap: 10px;
    .header-icon {
      font-size: 1.5rem;

      .icon-counter{
        font-size: 0.8rem;
      }
    }
  }
}

.header-default{
  background-color: $dark-color;

  a{
    color: $white-font;
  }
}

.header-scrolled{
  position: sticky;
  top: 5px;
  z-index: 1;
  background-color: $photo-background-color;
  margin: 5px;
  border: 1px solid $dark-color;
  border-radius: 4px;

  a{
    color: $dark-color;
  }
}

@media only screen and (max-width: 500px) {
  body {
    header{
      display: none;
    }
  }
}
