header {
  background-color: $dark-color;
  color: $white-font;
  padding: 0px 50px;
  height: $header-heigth;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-side {
    display: flex;
    align-items: center;
    gap: 20px;

    .header-title {
      font-family: 'Catamaran', sans-serif;
      font-size: 2rem;
      font-weight: 300;
    }

    .header-left-divider {
      font-size: 3rem;
      color: $header-gold;
    }

    .header-nav {
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 30px;
      }
    }
  }

  .right-side {
    display: flex;
    gap: 10px;
    .header-icon {
      font-size: 1.5rem;

      .icon-counter{
        font-size: 0.8rem;
      }
    }
  }
}