.product-details {
  display: flex;
  justify-content: center;
  background-color: $photo-background-color;

  .product-images{
    display: grid;
    grid-template-columns: 90px auto;
    position: relative;

    .main-image{
      height: calc(100vh - 80px);
      width: 650px;
      min-height: 500px;
    }

    .images-list{
      display: flex;
      flex-direction: column;
      height: calc(100vh - 80px);
      cursor: pointer;
      gap: 5px;
      padding-top: 20px;
    
      img {
        width: 90px;
      }
    }

    .add-favorite{
      display: none;
      position: absolute;
      right: 0;
      top: 50px;

      svg {
        font-size: 1.3rem;
      }
    }
  }

  .product-rightside{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 5px;
    width: 250px;

    h3  {
      font-size: 1rem;
    }

    .product-price {
      font-size: 1.2rem;
    }

    select {
      cursor: pointer;
      padding: 10px 5px;
      font-size: 0.8rem;
    }

    .button-add-bag {
      cursor: pointer;
      background-color: $dark-color;
      color: $white-color;
      border: 0;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2px;
    }

    .error-message {
      font-size: 0.7rem;
      color: red;
      margin-top: -10px;
    }

    .extra-details {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: $white-color;
      padding: 10px;
      border-radius: 8px;

      .details {
        display: grid;
        grid-template-columns: 1.5rem auto;

        .title, .icon {
          align-self: center;
        }
  
        .icon {
          font-size: 1.3rem;
        }

        .para1, .para2{
          grid-column: 1 / -1;
          font-size: 0.8rem;
        }
      }
    }
  }
}


@media only screen and (max-width: 500px) {
   body {
    .product-details {
      flex-direction: column;
      height: 100vh;
    
      .product-images{
        grid-template-columns: 1fr;
    
        .main-image{
          height: auto;
          width: 100%;
          grid-row: 1 / 2;
        }

        .images-list{
          flex-direction: row;
          height: 80px;
          gap: 5px;
          justify-content: center;
          padding-top: 0px;
          padding: 10px 0;
        
          img {
            width: auto;
          }
        }
      }
    
      .product-rightside{
        gap: 10px;
        padding: 5px;
        width: 100%;
    
        .error-message {
          margin-top: -5px;
        }
      }
    }
  }
}