.section-top-categories {
  display: flex;
  flex-direction: column;
  align-items: center;

  .categories-container {
    padding: 0 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;  

    .category {
      height: 360px;
      width: 240px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      cursor: pointer;

      h3 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2.5rem;
        padding: 5px;
        color: $white-color;
        text-transform: uppercase;
      }

      h3:before {
        content:' ';
        display:block;
        border:2px solid $gold-color;
        text-align: center;
      }

      h3:after {
        content:' ';
        display:block;
        border:2px solid $gold-color;
        text-align: center;
      }
    }

    .category:hover {
      align-items: end;

      h3 {
        // color: $gold-color;
        display: none;
      }

      h3:before, h3:after {
        border:2px solid $white-color;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  body {
    .section-top-categories {
      .categories-container {
        padding: 0px;
        gap: 10px;
    
        .category {
          height: 220px;
          width: 160px;
    
          h3 {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2rem;
          }
        }
      }
    }
  }
}